.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.main__tap {
  position: absolute;
  font-size: 1rem;
  opacity: 0;
  color: var(--primary);
  bottom: -40%;
  padding: .3rem 1rem;
  border: 2px solid var(--border-color);
  border-radius: var(--radius);
}

.main__tap:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--border-color) transparent transparent transparent;
  transform: rotate(180deg);
}

.button:hover .main__tap {
  opacity: 1;
}